<div>
  <!-- form groupe declaré dans le template -->
  <form [formGroup]="smoothieForm" (ngSubmit)="onSubmit()">
    <div class="content p-24">
      ​
      <!-- name: Le nom du groupe -->
      <mat-form-field class="full-width">
        <input matInput placeholder="Titre de la recette" formControlName="title" />
        <mat-error *ngIf="myForm.title.hasError('required')">
          Le titre est obligatoire
        </mat-error>
      </mat-form-field>
      <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="center center">
        <button mat-stroked-button color="primary">Créer</button>
      </div>
    </div>
    <mat-form-field class="full-width">
      <mat-chip-list #ingredientsList>
​
        <!-- Selected ingredients -->
        <mat-chip
          *ngFor="let ingredient of selectedIngredients"
          [removable]="true"
          (removed)="removeIngredient(ingredient)"
        >
          {{ ingredient.nom }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
​
        <!-- Input -->
        <!-- <input
          placeholder="Les ingredients"
          #ingredientInput
          formControlName="ingredients"
          [matChipInputFor]="ingredientsList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="addIngredient($event)"
        />
​
       </mat-chip-list>
    </mat-form-field> -->
  </form>
</div>